@font-face { font-family: Dungeon; src: url('rsrc/Dungeon.ttf'); }
@font-face { font-family: Cust1; src: url('rsrc/Alcefun.otf'); }
@font-face { font-family: Cust2; src: url('rsrc/AUBREY1.ttf'); }

html{
	background-image: url(../rsrc/bg.png);
	background-repeat: repeat;
	font:11px Verdana,Arial;
}
html,body {
	height:100%;
}
#page {
	background:#FFFFFF;
	background-image: url(../rsrc/general-background.png);
	background-repeat:repeat-y;
	min-height: 100%;
	width: 1300px ;
	margin-left: auto ;
	margin-right: auto ;
	-moz-box-shadow: 0px 0px 45px 10px #000;
	-webkit-box-shadow: 0px 0px 45px 10px #000;
	box-shadow: 0px 0px 45px 10px #000;
}
#contentArea{
	width: 900px ;
	margin-left: auto ;
	margin-right: auto ;
}
#logo{
	width:445px;
	height:50px;
	padding-top: 40px;
	padding-bottom:20px;
	margin-left: auto ;
	margin-right: auto ;
}
h1{
	font-family: Dungeon, serif;
	font-size:500%;
	text-align:center;
}
#leftContainer{
	float:left;
	margin:10px;
	width:500px;
	padding:23px;
	background-image: url(../rsrc/colbg.png);
	background-repeat:no-repeat;
}
#vid
{
	margin-left:10px;
	margin: 10px;
	text-align:center;
	color:red;
	float:left;
}
span{
	color:#531313;
}
#slides
{
	margin: 10px;
	text-align:center;
	margin-left:10px;
	color:red;
	float:left;
}
#rightContainer{
	font-family: Cust2;
	font-size:20px;
	margin:10px;
	min-height:300px;
	float:none;
}