@font-face { font-family: Dungeon; src: url('/rsrc/Dungeon.ttf'); }
@font-face { font-family: Cust2; src: url('/rsrc/AUBREY1.ttf'); }
@font-face { font-family: Medieval; src: url('/rsrc/CloisterBlack.ttf'); }

html{
	background-image:url(http://d12dnsmfbcrswq.cloudfront.net/rsrc/bg.png);
	background-repeat: repeat;
	//font:11px Verdana,Arial;
	font-family: Cust2;
	font-size:24px;
}
body,html{
	height: 100%;
}
#page {
	background:#FFFFFF;
	background-image:url(http://d12dnsmfbcrswq.cloudfront.net/rsrc/general-background.jpg);
	background-repeat:repeat-y;
	min-height: 140%;
	width: 1300px ;
	margin-left: auto ;
	margin-right: auto ;
	overflow: auto;
	/*-moz-box-shadow: 0px 0px 45px 10px #000;
	-webkit-box-shadow: 0px 0px 45px 10px #000;
	box-shadow: 0px 0px 45px 10px #000;*/
}
p{
	margin-top:30px;
	margin-bottom:30px;
}
li{
	list-style-position:inside;
	margin-top:10px;
	margin-bottom:10px;
}
#contentArea{
	width:900px;
	margin-left:auto;
	margin-right:auto;
}
#logo{
	width:534px;
	height:50px;
	padding-top: 40px;
	padding-bottom:60px;
	margin-left: auto ;
	margin-right: auto ;
}
h1{
	font-family: Dungeon, serif;
	font-size:500%;
	text-align:center;
}
#leftContainer{
	float:left;
	margin-left:auto;
	margin-right:auto;
	width:476px;
	height:1000px;
	padding:18px;
	padding-top:40px;
	background-image: url(http://d12dnsmfbcrswq.cloudfront.net/rsrc/colbg.jpg);
	background-repeat:no-repeat;
}
a{
	color:#275FB1;
	size:90%;
}
#mino{
	padding-top:30px;
	padding-right:15px;
	float:right;
}
#teaser{
	//width:350px;
	margin-bottom:-30px;
	margin-top:-30px;
	margin-left: auto ;
	margin-right: auto ;
}
#vid
{
	margin-left:10px;
	margin: 10px;
	text-align:center;
	color:red;
	float:left;
}
.dc{
	color:#923718;
}
.fl
{ 
	font-size:30px;
	font-family: Medieval;
}
#slides
{
	margin: 10px;
	text-align:center;
	margin-left:10px;
	color:red;
	float:left;
}
#rightContainer{
	padding:10px;
	float:none;
}